.background{
    -fx-background-color: #f0f2f5;
}

.header{
    -fx-background-color: #00a7ee;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.3, 0, 2);
}

.btn_cerrar_sesion{
    -fx-cursor: HAND;
    -fx-background-color:  #00000000;
}



.btn_modulo{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.1, 0, 4);
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-background-color: #ffffff;
    -fx-cursor: HAND;
}

.gp_menu{
    -fx-hgap: 15;
    -fx-vgap: 28;
}

.lb_info_usuario {
    -fx-padding: 0;
}

.vb_info_usuario {
    -fx-spacing: 0;
}



.btn_regresar{
    -fx-cursor: HAND;
    -fx-background-color:  #00000000;
}

.hb_crud_menu {
    -fx-spacing: 15;
}






.btn_general {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-padding: 8 15 8 15; /* top right bottom left */
    -fx-cursor: HAND;
}

.btn_general:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 10, 0.3, 0, 0);
}

.btn_general:disabled {
    -fx-background-color: #C0C0C0;
    -fx-text-fill: #6e6e6e;
}

.btn_editar{
    -fx-background-color: #2274e0;
}

.btn_eliminar{
    -fx-background-color: #eb4034;
}

.btn_agregar{
    -fx-background-color: #00ad20;
}

.btn_cancelar{
    -fx-background-color: #eb4034;
}

.btn_aceptar{
    -fx-background-color: #2274e0;
}

.btn_ojo{
    -fx-cursor: HAND;
    -fx-background-color: #00000000;
}

.btn_buscar{
    -fx-cursor: HAND;
    -fx-background-color: #00000000;
}


.btn_general_envio{
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.1, 0, 4);
}

.btn_general_envio:hover {
    -fx-background-color: #f2f2f2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0.1, 0, 4);
}

.btn_crear_envio{
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}

.btn_buscar_envio{
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}


.input_general{
    -fx-background-color: #ffffff;
    -fx-border-color: #9b9b9b;
    -fx-border-radius: 4px;
}



.input_password{
    -fx-padding:  0 30 0 9; /* top right bottom left */
}

.input_busqueda{
    -fx-padding:  0 50 0 9; /* top right bottom left */
}

.input_error{
    -fx-border-color: #ff3434;
    -fx-border-width: 1.5px; 
    -fx-focus-color:#ff3434; 
    -fx-faint-focus-color: #ff52524e
}

.input_no_writable:disabled{
    -fx-opacity: 1;
}





.tarjeta_formulario{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.1, 0, 4);
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-background-color: #ffffff;
    -fx-padding:  15 15 15 15; /* top right bottom left */
}

.vb_formulario {
    -fx-spacing: 20;
}

.vb_tarjeta_formulario {
    -fx-spacing: 12;
}


.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}